<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
    <!-- Container starts -->
    <div class="container">
        <!-- Sources section starts -->
        <div class="sources-section">
            <!-- Section header starts -->
            <div class="section-header mb-5">
                <!-- Section description starts -->
                <div class="section-description">
                    <h1 class="mb-0">Trusted Sources</h1>
                    <p class="mb-0 text-ct-secondary">Click to know more about the source.</p>
                </div>
                <!-- Section description ends -->
            </div>
            <!-- Section header ends -->
            <!-- Display sources starts -->
            <div class="display-sources">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- List sources starts -->
                        <div class="list-sources">
                            <!-- Sources starts -->
                            <ul class="sources list-group">
                                <!-- Source starts -->
                    <% sources.forEach(function (value, i) { %>

                                <li class="source list-group-item source-information-active bg-ct-card-dark-active shadow mb-3">
                                    <!-- Source information starts -->
                                    <div class="source-information">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <!-- Source rank starts -->
                                                <div class="source-rank">
                                                    <h4 class="mb-0"><%= i+1 %></h4>
                                                </div>
                                                <!-- Source rank ends -->
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- Source image starts -->
                                                <div class="source-image" style="">
                                                    <img src="<%= value.logo %>" alt="<%= value.name %>" class="img-fluid">
                                                </div>
                                                <!-- Source image ends -->
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- Source description starts -->
                                                <div class="source-description">
                                                    <div class="source-header">
                                                        <h4 class="mb-0 source-name"><%= value.name %></h4>
                                                        <div class="source-trust-rate">
                                                            <h4 class="rating mb-0 text-ct-green"><%= value.rating %> % </h4>
                                                            <h4 class="rating-label mb-0 util-hidden">User Rating</h4>
                                                        </div>
                                                    </div>
                                                    <!-- Source body starts -->
                                                    <div class="source-body util-hidden">
                                                        <p class="mb-0"><%= value.name %> is a daily English language newspaper published from Dubai, United Arab Emirates. It was first launched in 1978, and is currently distributed throughout the UAE and also in other Persian Gulf Countries. Its online edition was launched in 1996 </p>
                                                    </div>
                                                    <!-- Source body ends -->
                                                </div>
                                                <!-- Source description ends -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Source information ends -->
                                </li>

                                <% }) %>
                                
                            </ul>
                            <!-- Sources ends -->
                        </div>
                        <!-- List sources ends -->
                    </div>
                    <div class="col-sm-6">
                        <!-- View source information starts -->
                        <div class="view-source-information util-hidden">
                            <!-- Source information starts -->
                            <div class="source-information bg-ct-card-dark-active rounded shadow">
                                <!-- Source image starts -->
                                <div class="source-image text-center">
                                    <img src="<%= sources[0].logo %>" alt="<%= sources[0].name %>" class="img-fluid">
                                </div>
                                <!-- Source image ends -->
                                <!-- Source description starts -->
                                <div class="source-description p-5">
                                    <!-- Source header starts -->
                                    <div class="source-header d-flex align-items-center justify-content-between mb-5">
                                        <!-- Source name starts -->
                                        <div class="source-name">
                                            <h2 class="mb-0"><%= sources[0].name %></h2>
                                        </div>
                                        <!-- Source name ends -->
                                        <!-- Source trust rate starts -->
                                        <div class="source-trust-rate text-center">
                                            <h2 class="mb-0 text-ct-green"><%= sources[0].rating %></h2>
                                            <h4 class="mb-0">User Rating</h4>
                                        </div>
                                        <!-- Source trust rate end -->
                                    </div>
                                    <!-- Source header ends -->
                                    <!-- Source body starts -->
                                    <div class="source-body">
                                        <p><%= sources[0].name %> is a daily English language newspaper published from Delhi, India. It was first launched in 1978, and is currently distributed throughout the India. Its online edition was launched in 1996. Lorem Ipsum bleh bleh hahah.</p>
                                    </div>
                                    <!-- Source body ends -->
                                </div>
                                <!-- Source description end -->
                            </div>
                            <!-- Source information ends -->
                        </div>
                        <!-- View source information starts -->
                    </div>
                </div>
            </div>
            <!-- Display sources ends -->
        </div>
        <!-- Sources section ends -->
    </div>
    <!-- Container ends -->
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>