<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha256-kksNxjDRxd/5+jGurZUJd1sdR2v+ClrCl3svESBaJqw=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <!-- Container starts -->
    <div class="container">
        <!-- Verify news complete section starts -->
        <div class="verify-news-complete-section mb-5">
            <!-- Section header starts -->
            <div class="section-header mb-5">
                <!-- Section description starts -->
                <div class="section-description mb-3">
                    <h1 class="mb-0">Verification Completed</h1>
                    <p class="mb-0 text-ct-secondary">View the results below.</p>
                </div>
                <!-- Section description ends -->
            </div>
            <!-- Section header ends -->
            <!-- Verify news result section starts -->
            <div class="verify-news-result-section">
                <!-- Verify news result starts -->
                <div class="verify-news-result text-center mb-3">
                    <% if(verifyNewsResult.result === "trusted") { %>
                        <i class="fas fa-shield-virus fa-9x text-ct-green mb-3"></i>
                        <% if(verifyNewsResult.url != " ") { %>
                            <a href="<%= verifyNewsResult.url %>" class="h3 mb-2 text-ct-green d-block"> URL : <%= verifyNewsResult.url %></a>
                        <% } %>
                        <h3 class="mb-3">Source: <%= verifyNewsResult.source.name %></h3>
                        <h2 class="text-ct-green text-capitalize">This article is from a trusted news source!</h2>
                    <% } else if(verifyNewsResult.result === "untrusted")  { %>
                        <i class="fas fa-exclamation-triangle fa-9x text-ct-amber mb-3"></i>
                        <% if(verifyNewsResult.url != " ") { %>
                            <a href="<%= verifyNewsResult.url %>" class="h3 mb-2 text-ct-green d-block"> URL : <%= verifyNewsResult.url %></a>
                        <% } %>
                        <h2 class="text-ct-amber text-capitalize">This article is from a untrusted news source!</h2>
                    <% } else { %>
                        <i class="fas fa-question-circle fa-9x text-ct-secondary mb-3"></i>
                        <h4>Source: Unknown</h4>
                        <h2 class="text-ct-secondary text-capitalize">This article is from an unknown news source!</h2>
                    <% } %>
                </div>
                <!-- Verify news result ends -->
                <!-- Verified articles starts -->
                <div class="verified-articles">
                    <% if(verifyNewsResult.articles){ %>
                    <h4 class="text-ct-secondary">Here is what we found</h4>
                    <!-- News articles starts -->
                    <div class="news-articles">
                        <% for (let [key, value] of Object.entries(verifyNewsResult.articles)) { %>
                        <!-- News article starts -->
                        <div class="news-article bg-ct-card-dark shadow rounded mb-3">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="news-article-img h-100">
                                        <img src="<%= value.urlToImage %>" alt="<%= value.title %>" class="img-fluid rounded">
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="news-article-desc p-3">
                                        <% if(verifyNewsResult.result === "trusted") { %>
                                            <div class="trusted-news-icon news-icon d-flex align-items-center mb-3">
                                                <i class="fas fa-shield-virus fa-lg text-ct-green mr-2"></i>
                                                <h4 class="mb-0">Trusted News Source</h4>
                                            </div>
                                        <% } else if(verifyNewsResult.result === "untrusted")  { %>
                                            <div class="un-trusted-news-icon news-icon d-flex align-items-center mb-3">
                                                <i class="fas fa-exclamation-triangle fa-lg text-ct-amber mr-2"></i>
                                                <h4 class="mb-0">Un-Trusted News Source</h4>
                                            </div>
                                        <% } %>
                                        <h2 class="mb-3"><a href="/news-articles/<%= key %>" class="text-decoration-none text-white"><%= value.title %></a></h2>
                                        <div class="news-metadata d-flex justify-content-between align-items-center mb-3">
                                        
                                        </div>
                                        <p class="mb-3"><%= value.description %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- News article ends -->
                        <% } %>
                    </div>
                    <!-- News articles ends -->
                    <% } else { %>
                        <!-- Disclaimer starts -->
                        <div class="disclaimer">
                            <h4 class="text-ct-secondary">Disclaimer:</h4>
                            <p>This article is not verified yet and has been sent to the experts to validate. We suggest you to be cautious before sharing it with others!</p>
                        </div>
                        <!-- Disclaimer ends -->
                    <% } %>
                </div>
                <!-- Verified articles ends -->
                <button type="button" class="btn btn-lg btn-block btn-ct-green" data-toggle="modal" data-target="#helpModel">Learn About Our Verification Process</button>

                <div class="modal fade" id="helpModel" tabindex="-1" role="dialog" aria-labelledby="helpModelLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content bg-ct-card-dark">
                        <div class="modal-body">
                          <div class="owl-carousel owl-theme">
                            <div class="help-guide px-3 pt-3">
                                <div class="d-flex flex-column justify-content-between align-items-center">
                                    <div>
                                        <img src="/images/network_.png" alt="Family" class="img-fluid mb-3" style="height: 250px; width: auto;">
                                    </div>
                                    <h4 class="font-weight-bold  mb-3">Powered by Blockchain</h4>
                                    <p class="text-white">Blockchain ensures trust between the community and the media.</p>
                                </div>
                            </div>
                              <div class="help-guide px-3 pt-3">
                                <div class="d-flex flex-column justify-content-between align-items-center">
                                <div class="">
                                  <img src="/images/diversity_.png" alt="Family" class="img-fluid mb-3" style="height: 250px; width: auto;">
                                </div>
                                <h4 class="font-weight-bold  mb-3">Worldwide News</h4>
                                <p class="text-white">Verified News Articles from all over the world at your fingertips.</p>
                                </div>
                              </div>
                              <div class="help-guide px-3 pt-3">
                                <div class="d-flex flex-column justify-content-between align-items-center">
                                <div class="">
                                <img src="/images/quality_check.png" alt="Family" class="img-fluid mb-3" style="height: 250px; width: auto;">
                                </div>
                                <h4 class="font-weight-bold mb-3">Authenticity Guaranteed</h4>
                                <p class="text-white">Powerful smart technologies to enable state of the art validation and authenticity.</p>
                                </div>
                            </div>
                            <div class="help-guide px-3 pt-3">
                                <div class="d-flex flex-column justify-content-between align-items-center">
                                <div class="">
                                <img src="/images/team_meeting_.png" alt="Family" class="img-fluid mb-3" style="height: 250px; width: auto;">
                                </div>
                                <h4 class="font-weight-bold text-ecogreen mb-3">Qualified Expert Team </h4>
                                <p class="text-white">Our expert panel of reviewers verify every news article straight from its source.</p>
                                </div>
                            </div>
                            <div class="help-guide px-3 pt-3">
                                <div class="d-flex flex-column justify-content-between align-items-center">
                                <div class="">
                                <img src="/images/team_work.png" alt="Family" class="img-fluid mb-3" style="height: 250px; width: auto;">
                                </div>
                                <h4 class="font-weight-bold mb-3">Community Driven</h4>
                                <p class="text-white">Your opinion matters, raise your voice and lets fight together against fake news.</p>
                                </div>
                            </div>
                            
                          </div>
                          <button type="button" class="btn btn-block" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                </div>

            </div>
            <!-- Verify news result section ends -->
        </div>
        <!-- Verify news complete section ends -->
    </div>
    <!-- Container ends -->
</main>
<script>
    $('.owl-carousel').owlCarousel({
    loop:false,
    margin:10,
    nav:false,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        }
    }
    });
</script>
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>